@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.top-bar {
  background: black;
  font-family: "Poppins";
  font-weight: 700;
  border-bottom: 1px solid;
  border-bottom-color: white;
  .menu {
    background: black;
  }
}




.home,
.home:visited {
  color: 	white;
  font-weight: 700;
}

sign-in,
.sign-in:visited {
  color: white;
}

.sign-in:hover {
  color: #a0a5a8;
}

.home:hover {
  color: #a0a5a8;
}

.home-page {
font-family: "Poppins";
font-weight: 300;
font-size: 1.5em;
letter-spacing:.3rem;
padding-top: 3em;
padding-bottom: .25em;
color: black;
text-align: center;
}



.logo {
  background: url("../img/logo-1.png");
  width: 100%;
  height:500px;
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position:center;
  margin-top: 1em;
  
}


.button:active,
.button:visited,
.button {
  color: white;
  background: #71797E;
  font-family: "Poppins";
  font-weight: 800;
  max-width: 325px;
  border-radius: 2%;
}

.button:Hover {
    opacity: 54%;
  }

.sign-in-header {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 4em;
  padding-top: 2em;
  letter-spacing: -.1rem;
}

.sign-in-email {
  font-family: "Poppins";
  font-weight: 800;
}

.sign-in-password {
  max-width: 350px;
}

.sign-in-email {
  max-width: 350px;
}

.sign-in-button {
  margin-top: 3em;
}

.registration-header {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 4em;
  padding-top: 2em;
  padding-bottom: .25em;
  letter-spacing: -.1rem;
  color: black;
  line-height: 1em;
}



.footer {
  margin-top: 1rem;
  padding: 1.9rem;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid;
  border-top-color: white;
 
  font-family: "Poppins";
  font-weight: 400;
  font-size: .8em; 
}

.register-button {
  padding-top: 1em;
  padding-bottom: 4em;
}

.input-labels {
  max-width: 350px;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
}

.need-account-text {
  font-family: "Poppins";
  font-weight: 400;
  color: 		#282828;
  padding-top: 2.5em;
  font-size: 1em; 
  letter-spacing: -.05rem;
}

.need-account-text:Hover {
  color: #a0a5a8;
}

.fill {
  background-color: black;
}

.daylist-tagline {
  
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing:.3rem;
  padding-top: 3em;
  padding-bottom: .25em;
  color: black;
  text-align: center;
    
}

.daylist-header {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 3em;
  padding: 0em;
  letter-spacing: -.1rem;
  margin-top: .4em;
  margin-bottom:0.3em;
}



.list {
  height: 400px;
  width:325px;
  font-family:Azeret Mono;
  font-weight: 300;
  font-size: 1.25em;
  color: black;
  text-align: center;
  text-justify: inter-character;
  overflow-y: scroll;
  margin-top: .5em;
  margin-bottom: .1em;
  scrollbar-color: auto;
  scrollbar-width: auto;
  box-shadow: 0 0 10px #B0B0B0 inset;
  background-color: white;
  padding-top: .2em;
  padding-bottom: .3em;
  border: 1px solid #B0B0B0;
}

.days-show-tagline {
  
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing:.3rem;
  padding-top: 3em;
  padding-bottom: .3em;
  color: black;
  text-align: center;
    
}

.days-show-header-text {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 4em;
  letter-spacing: -.1rem;
}

.days-show-average {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 5.54em;
  letter-spacing: -.05rem;
  margin: 0em;
  text-align: center;
  padding: 0em;
  line-height: 1em;
  color:white
}

.days-show-average {
  -webkit-text-stroke: 2px#71797E;;
  
}



.review-tile {
  font-family: "Poppins";
  font-weight: 300;
  color: 	#383838;
  margin-top: .5em;
  margin-bottom: .9em;
  max-width: 325px;
  padding: 1em;
  font-size: 1em;
  background-color: white ;

}


.days-show-review-tiles {
  height: 428px;
  width:325px;

  overflow-y: scroll;
  margin-top: .5em;
  margin-bottom: .1em;
  scrollbar-color: auto;
  scrollbar-width: auto;
  box-shadow: 0 0 10px #B0B0B0 inset;
  background-color: #E8E8E8;
  padding-top: .2em;
  padding-bottom: .3em;
  border: 1px solid #B0B0B0;
}


.add-review-button {
  padding-top: 1em;
  padding-bottom: 1em;
}

.review-tile-rating {
  font-weight: 800;
  font-size: 1em;
  text-align: left;
  margin-top: .1em;
  margin-bottom: .25em;
  letter-spacing: -.02rem;
  color: 	black;
}

.review-tile-content {
  font-size: .88em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 0em;
 
  

}

.review-tile-userId {
  font-weight: 600;
  font-size: .9em;
  margin-bottom: 0em;
  margin-top: .35em;
  letter-spacing: -.05rem;

  
  color: 	black;
}

.review-tile-createdAt {
  font-size: .5em;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0em;
}


.new-review-form {
  margin-top: .5em;
  margin-bottom: .5em;
  max-width: 325px;
  padding: 1em;
  font-size: 1em;
  background-color: black;
  opacity: 1;
}

.new-review-form-header {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1em;
  color: white;
  padding-top: .5em;
  padding-bottom: .6em;
}
.new-review-form-rating {
  font-family: "Poppins";
  font-weight: 300;
  font-size: .8em;
  color: white;
  
}

#choice option{ 
    color: black;
}
.empty { 
  color: gray; 
}

.new-review-form-review {
  font-family: "Poppins";
  font-weight: 300;
  font-size: .8em;
  color: white;
  padding-bottom: 1em;
}

.new-review-from-button{
 margin-top: .3em;
  margin-bottom: .3em;
}

.average-rating-text {
  font-family: "Poppins";
  font-weight: 300;
  font-size: .9em;
  margin-top: -.1em;
  margin-bottom: 0em;

  text-align: center;

}


