<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>hhydProject</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/vendor/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://kit.fontawesome.com/367b4c7108.js" crossorigin="anonymous"></script>

</head>

<body>
  <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

  {{{body}}}
</body>

</html>
